@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1039980_dp1os91tz3.eot?t=1549869727622'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1039980_dp1os91tz3.eot?t=1549869727622#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABogAAAJtAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgpwfwE2AiQDDAsIAAQgBYRtBzgbxwUR1ZMZZF8d8KapUx6miDBMIy4bRe/QY+PKvg+e59fxnfvum/kSI4glE6C0ToC7424UGpUnADLNyDKprA4rU35rzqqRURGqJHu+8+gf8sBNM/J5Lqc3gQ5k9THKae39/KgXYBxQoHtgFHAgRZKQpyC7I1BLvg8B/EmmEGmqawhfLM4yAWSxeTPwLWWxWKnhi+C27LXIXhx8zW7zGNgTf1++Ui6+YHAUZ23f3ObZ1H3wId3kbZocEuRAoIcdQIFCwIJMba2OoYjEKf5W29/pYhHMUgXPi7Wm2XX/8MAgIC5OfyAAuaxm4ANfm9ui+qeuK8DTKUMckM1GvocgEe7aM6efu7ApavjQoaioQ+djRg9vXjkye87o3LJy/V763pS+yfrx82f40vT0O4/8/Cvbe9fVeevKtQudHTMmM538jKaZMPCeKlqAAALDbRVnpoVU/fcNsAC8uPF4nPaeWrBe8MUArPtNOnDImgbHp1bX+lo7rkQAYQNULSfwcJLhvJvujLqVpuBL1ISkD0m3FfclMyctWwiHACrh4kst/Cmg9XAAESxBEesH5LOdQAjlOgzB3IUSyhPSsm/hEM13uISKwp8RiTgzgGxYXBoJBaMG+QevajFegC/J4A3tOwkqGmL+hbT7Akz9WG1csSAtsWH/2JnZgKGaYSWPYUoVGtWAinvH3JZhMG0v6lXN3YVGQsGoAfkHvKrFhOP5Uvv8De07CeqRNVRfSLufHpjoGQHyai2Q7FGe2T92htkAhmoGVjILU6pAa58VUHGPm1BuC4M7yqDWfnt7/r8TgD/OtSpGVCzOKi+SOMwVxb191wEA') format('woff2'),
  url('//at.alicdn.com/t/font_1039980_dp1os91tz3.woff?t=1549869727622') format('woff'),
  url('//at.alicdn.com/t/font_1039980_dp1os91tz3.ttf?t=1549869727622') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('//at.alicdn.com/t/font_1039980_dp1os91tz3.svg?t=1549869727622#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiala:before {
  content: "\e656";
}

.icon-fanhui:before {
  content: "\e654";
}
